{% extends 'uniMarcaBundle::layout.html.twig' %}

{% block central %}
                
        <form action="{{path('noticias_responder_titulo')}}" method="POST">
             <div class="LineaFormulario">      
                    Buscar titulo:
                    <input type="text" name="titulo" value="">
                    <input type="submit" value="Buscar">
             </div>
        </form>
        
    
{% endblock %}
