{% extends 'uniMarcaBundle::layout.html.twig' %}

{% block central %}
    <h1>noticias creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('noticias') }}">
            Volver atras
        </a>
    </li>
</ul>
{% endblock %}
